name: Update this repo's README

on:
  workflow_dispatch:
  schedule:
    # Once a day at 8 AM
    - cron: 0 8 * * *

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: andyw8/rss-to-readme@main
        with:
          feed-url: https://www.andywaite.com/feed.xml
          readme-section: feed
